/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply flex-nowrap;
}
a.btn {
	@apply no-underline;
}
.input {
	@apply text-base;
}
